@import '../styles/mixins/variables';

@mixin applyTextSize($selector) {
  &[#{$selector}='text-hero-l'] {
    font: var(--text-hero-l);
    letter-spacing: -3px;
    color: var(--sand12);
  }
  &[#{$selector}='text-hero-m'] {
    font: var(--text-hero-m);
    letter-spacing: -1px;
    color: var(--sand12);
  }
  &[#{$selector}='text-3xl'] {
    font: var(--text-3xl);
    color: var(--sand12);
  }
  &[#{$selector}='text-2xl'] {
    font: var(--text-2xl);
    color: var(--sand12);
  }
  &[#{$selector}='text-xl'] {
    font: var(--text-xl);
    color: var(--sand12);
  }
  &[#{$selector}='text-l'] {
    font: var(--text-l);
    color: var(--sand12);
  }
  &[#{$selector}='text-base'] {
    font: var(--text-base);
    color: var(--sand11);
  }
  &[#{$selector}='text-s'] {
    font: var(--text-s);
    color: var(--sand11);
  }
  &[#{$selector}='text-xs'] {
    font: var(--text-xs);
    color: var(--sand11);
  }
}

.text {
  text-wrap: pretty;

  &[data-clamp-lines] {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  @include applyTextSize('data-size');

  &[data-size-tablet] {
    @media (max-width: $tabletBreakpointMaxWidth) {
      @include applyTextSize('data-size-tablet');
    }
  }

  &[data-size-phone] {
    @media (max-width: $phoneBreakpointMaxWidth) {
      @include applyTextSize('data-size-phone');
    }
  }
}
